127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.35.24  prdx-web171.ziyotek1.local  web171
192.168.35.26  prdx-web172.ziyotek1.local  web172
192.168.35.28  prdx-web173.ziyotek1.local  web173
