127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.35.23  prdx-web161.ziyotek1.local  web161
192.168.35.25  prdx-web162.ziyotek1.local  web162
192.168.35.27  prdx-web163.ziyotek1.local  web163
