//
// named.conf
//

// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
// See /usr/share/doc/bind*/sample/ for example named configuration files.

options {
listen-on port 53 { 127.0.0.1; 192.168.35.13; }; ## MASTER DNS IP ##
directory "/var/named";
allow-query { localhost; any; };     ## IP RANGE or use the word any; ##
allow-transfer { localhost; 192.168.35.14; 192.168.35.15; };    ## Slave DNS IP ##
also-notify { 192.168.35.14; 192.168.35.15; };                  ## Slave IP


# FORWARD LOOKUP ZONE
zone "ziyotek1.local" IN {
	type master;
	file "ziyotek1.flz";                     ## We do not have this file has yet.  We need to create it. ##
	allow-update { none; };
};

# REVERSE LOOKUP ZONE
zone "35.168.192.in-addr.arpa" IN { 
	type master; 
	file "ziyotek1.rlz";                     ## We do not have this file has yet. We need to create it. ##
	allow-update { none; };
};

